{% if paginate.pages > 1 %}
  <div class="mt-4 lg:p-10 p-2 text-center flex-auto">
    {% if paginate.previous %}
      <button
        data-link="{{ paginate.previous.url }}"
        class="pagination-page-link md:p-4 p-2 bg-indigo-800 text-white hover:bg-indigo-900 transition duration-300"
      >
        Previous
      </button>
    {% else %}
      <span class="md:p-4 p-2 bg-indigo-100 text-black border-2">Previous</span>
    {% endif %}

    {% for part in paginate.parts %}
      {% if part.title != paginate.current_page %}
        <button
          data-link="{{ part.url }}"
          class="pagination-page-link md:p-4 p-2 bg-indigo-800 text-white hover:bg-indigo-900 transition duration-300"
        >
          {{ part.title }}
        </button>
      {% else %}
        <span class="md:p-4 p-2 bg-indigo-100 text-black border-2">{{ part.title }}</span>
      {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <button
        data-link="{{ paginate.next.url }}"
        class="pagination-page-link md:p-4 p-2 bg-indigo-800 text-white hover:bg-indigo-900 transition duration-300"
      >
        Next
      </button>
    {% else %}
      <span class="md:p-4 p-2 mx-2 bg-indigo-100 text-black border-2">Next</span>
    {% endif %}
  </div>
{% endif %}
