{% if paginate.pages > 1 %}
  <div class="mt-4 p-10 text-center flex-auto">
    {%- if paginate.previous -%}
      <a
        href="{{ paginate.previous.url }}"
        class="p-4 bg-indigo-800 text-white hover:bg-indigo-900 transition duration-300"
        >Previous</a
      >
    {% else %}
      <span class="p-4 mx-2 bg-indigo-100 text-black border-2">Previous</span>
    {%- endif -%}

    {% for part in paginate.parts %}
      {% if part.title != paginate.current_page %}
        <a href="{{ part.url }}" class="p-4 bg-indigo-800 text-white hover:bg-indigo-900 transition duration-300">
          {{- part.title -}}
        </a>
      {% else %}
        <span class="p-4 mx-2 bg-indigo-100 text-black border-2">{{ part.title }}</span>
      {% endif %}
    {% endfor %}

    {%- if paginate.next -%}
      <a href="{{ paginate.next.url }}" class="p-4 bg-indigo-800 text-white hover:bg-indigo-900 transition duration-300"
        >Next</a
      >
    {% else %}
      <span class="p-4 mx-2 bg-indigo-100 text-black border-2">Next</span>
    {%- endif -%}
  </div>
{% endif %}
