<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    {{ 'font-poppins.css' | asset_url | stylesheet_tag }}
    {{ 'font-rufina.css' | asset_url | stylesheet_tag }}
    {{ 'tailwind.css' | asset_url | stylesheet_tag }}
    {{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
    {{ 'owl.theme.default.min.css' | asset_url | stylesheet_tag }}

    {% style %}
      body {
        font-family: 'Poppins', sans-serif;
      }
      .shop-name {
        font-family: 'Rufina', serif;
      }
    {% endstyle %}

    {{ content_for_header }}
  </head>

  <body>
    {{ content_for_layout }}
    <script src="{{ 'jquery-3.7.1.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jquery.easing.min.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jun-product-variant.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jun-add-to-cart.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jun-product-compare.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'jun-pagination.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'app.js' | asset_url }}" defer="defer"></script>
  </body>
</html>
