{% comment %}
  {% liquid
    assign product = product
  %}
{% endcomment %}

{% comment %}
  <script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>
  <cart-items>asdf</cart-items>
{% endcomment %}

<div class="px-64 py-10">
  <div class="grid grid-cols-3 gap-4">
    <div class="col-span-2 border p-2">
      <div
        id="product-image"
        class="relative h-96 bg-contain bg-no-repeat bg-center p-0 m-0 "
        style="background-image: url('{{ product.featured_image | image_url }}');"
        data-image="{{ product.featured_image | image_url }}"
      ></div>
      <h2 class="pt-6 underline">Specifications</h2>
      <div class="pt-4">
        <table class="text-sm">
          {% for specification in product.metafields.custom %}
            <tr>
              <td class="p-1 text-xs">
                <span class="mr-2">{{ specification[0] | replace: '_', ' ' | upcase }}</span>
                <input
                  name="specifications[]"
                  data-id="{{ specification[0] }}"
                  value="{{ specification[1] }}"
                  type="hidden"
                >
              </td>
              <td class="p-1">{{ specification[1] }}</td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div>
      <div class="text-right">
        <jun-product-compare
          class="p-2 bg-indigo-100 border border-stone-400 hover:bg-indigo-600 hover:text-white transition duration-300 text-sm"
          data-product-id="{{ product.id }}"
          >Add to compare</jun-product-compare
        >
        {% comment %}
          <a
            class="p-2 bg-indigo-100 border border-stone-400 hover:bg-indigo-600 hover:text-white transition duration-300 text-sm"
            href=""
            >Add to compare</a
          >
        {% endcomment %}
      </div>
      <h1 id="product-title" class="pt-4 text-xl">{{ product.title }}</h1>
      <div class="pt-4 text-sm text-gray-600">{{ product.description }}</div>
      <p id="product-price" class="pt-4">{{ product.price | money }}</p>
      <input id="product-id" type="hidden" value="{{ product.id }}">
      {% form 'product', product %}
        {% if product.variants.size > 1 %}
          <jun-product-variant class="mt-4 p-4 border border-gray-900 w-full">
            {% for variant in product.variants %}
              <option
                data-img="{{ variant.image | image_url }}"
                value="{{ variant.id }}"
                {% if forloop.first %}
                  selected
                {% endif %}
              >
                {{ variant.title }}
              </option>
            {% endfor %}
          </jun-product-variant>
        {% else %}
          <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        {% endif %}
        <input
          id="product-quantity"
          class="mt-4 p-4 border border-gray-900 w-full"
          type="number"
          name="quantity"
          min="1"
          value="1"
        >

        <jun-add-to-cart></jun-add-to-cart>

        {% comment %} {{ form | payment_button }} {% endcomment %}
        <button
          type="submit"
          class="mt-4 p-4 w-full bg-indigo-500 text-white hover:bg-indigo-800 transition duration-300"
        >
          Add to Cart
        </button>

        {% render 'product-modal' %}
      {% endform %}
    </div>
  </div>
</div>
